* {
  box-sizing: border-box;
}

/* 문제 1번 CSS */
.q1Class {
  border: 1px solid #000;
  width: 860px;
  height: 200px;
}

/* 문제 2번 CSS */
.q2Class1 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 860px;
}
.q2Class2 {
  border: 1px solid #000;
  width: 172px;
  cursor: pointer;
}

/* 문제 3번 CSS */
.q3Class1 {
  display: none;
}
.q3Class2 {
  display: none;
}
